// about font
$font-primary = Arial, '微軟正黑體', 'Microsoft JhengHei', 'LiHei Pro';
$font-secondary = Arial, '新細明體';
$fontSize = 12px, 13px, 16px, 18px, 20px, 22px, 24px; // 多組大小 - 逗號 ,區隔

// about breakpoint
$smallScreen = 'screen and (max-width 1216px)';
$tablet = 'screen and (max-width 1016px)';
$mobile = 'screen and (max-width 767px)';
$fourInch = 'screen and (max-width 375px)';

// about color variable
$color-primary = #944225;
$color-secondary = #613323;
$color-thirdary = #efe0cf;

$white = #ffffff;
$blue = #34658c;
$black = #000000;
$pink = #fe4598;
$orange = #dd6a18;
$yellow = #f5d40e;
$yellowHover = #ffc739;
$gray = #666666;
$brown = #492607;

$theme-text-primary = #333333;

$theme-header-primary = #fd841f;
$theme-header-secondary = #333333;
$theme-header-thirdary = #f5f5f5;
$theme-header-4th = #cdcdcd;
$theme-header-5th = #646464;

$theme-footer-primary = #646464;
$theme-footer-secondary = #dedfe4;

$theme-button-primary = #fd841f;
$theme-button-secondary = #de0505;

$gradation-primary = #414040;
$gradation-secondary = #000000;

$shadowColor = #00000020; // 透明20%
$borderColor = #545454;